body {
  background-color: rgba(224, 224, 224, 0.866);
}

.dark-box {
  background-color: rgb(67, 67, 67);
  user-select: none;
}

.light-box {
  background-color: rgb(183, 183, 183);
  user-select: none;
}

td {
  width: 70px;
  height: 70px;
}

table {
  justify-content: center;
  align-items: center;
 display: flex;
  
  
}

.selected {
  background-color: rgb(52, 92, 98);
}

.possible-move {
  background-color: rgb(126, 155, 153);
}

.headline {
  font-size: 67px;
  font-family: "My Soul", cursive;
  
  justify-content: center;
  align-items: center;
  margin-bottom: 0%;
  margin-top: 10px;
  color: rgb(53, 53, 53);
  margin-left: 525px;
}

img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.reset {
 width: 88px;
height: 88px;
border-radius: 10px;
margin-top: 10px;

}

.headline-reset{
  display: flex;
}

